/* body{
 background-color: #6DC5D1; 
 text-align: center;
}

.container{
  background-color: white;
}


.projectHeader{
  padding: 50px;
}

.search{
  padding: 1rem;
  border-radius: 25px;
  width: 400px;
}

.btnSearch{
  text-align: center;
  padding: 1rem;
  border-radius: 25px;
  margin-left: 30px;
  width: 100px;
}

.btnSearch:hover{
  background-color: #6DC5D1;
  color: white;
} */

/* App.css */
body {
  margin: 0;
  font-family: "Arial", sans-serif;
  /* background-color: #546e7a; */
}

.projectHeader {
  text-align: center;
  font-size: 2rem;
  font-weight: 600;
  margin: 20px 0;
  color: #248bda;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 90%;
  margin: 0 auto;
  padding: 20px;
  background-color: #0277bd;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.search-container {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

.search {
  flex: 1;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid white;
  border-radius: 100px;
}

.btnSearch {
  padding: 10px 15px;
  font-size: 1rem;
  background-color: white;
  color: #0277bd;
  border: none;
  border-radius: 100px;
  margin-left: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btnSearch:hover {
  background-color: #248bda;
  color: white;
  border-color: black;
}

.weather-info {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.weather-icon {
  width: 100px;
  height: 100px;
  margin: 0 auto; /* Center the icon and add spacing below */
}

.city-name {
  font-size: 1.5rem;
  color: white;
  margin: 0;
  text-align: left;
}

.temperature {
  text-align: center;
  font-size: 6rem;
  color: white;
  font-weight: 700;
  margin-bottom: 0;
}

.weather-description {
  text-align: center;
  font-size: 1rem;
  color: white;
  margin-bottom: 10px;
}

.temp-range {
  text-align: center;
  font-size: 1.2rem;
  color: white;
}

p {
  color: white;
}

@media (min-width: 768px) {
  .container {
    max-width: 600px;
  }

  .search-container {
    max-width: 500px;
  }

  .projectHeader {
    font-size: 2.5rem;
  }
}
